.body {
  font-family: Arial, sans-serif;
  background-color: #ddd;
  height: 100vh;
  display: flex;
}

.form {
  width: 600px;
  height: 250px;
  margin: auto;
  padding: 20px;
  background-color: rgb(247, 247, 247);
  border: 1px solid #ddd;
  border-radius: 3px;
}

.input {
  display: block;
  width: 100%;
  padding: 11px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 7px;
}

.button {
  background-color: #4CAF50;
  width: 100%;
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
}